{
  "API": "",
  "BuildNamespace": 1,
  "CaseCode": false,
  "Dependencies": [
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": false,
  "OnApplicationStartup": "",
  "OnBuild": "",
  "OnSave": "",
  "ProjectSpace": "#.Text2Date",
  "StartUp": "",
  "URL": "https://github.com/the-carlisle-group/Text2Date",
  "Version": "0.0.23"
}
